.install-app{
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    border-radius: 10px ;
    overflow-x: hidden;
    margin-bottom: 40px;
}

.outer{
    width: 100%;
    height: 90vh;
    background: linear-gradient(to bottom,#66ae9b, #ef9ed1 70%);
    border-radius: 10px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
.inner{
    height: 95%;
    width: 93%;
    background: linear-gradient(to bottom,#ef9ed1, #66ae9b 70%);
    box-sizing: border-box;
    display: flex;
    padding: 30px 0px;
    overflow: hidden;

}
.content{
    width: 80%;
    box-sizing: border-box;
    padding: 30px;
    /* border: 1px solid black; */
}
.content .logo{
    font-size: 30px;
    color: black;
}
.content .logo .logo-color{
    color: black;
}

.content h3{
    font-size: 30px;
    margin-top: 40px;
    color: black;
}
.content p{
    width: 100%;
    /* border:1px solid black; */
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
.content #download{
    padding: 15px 40px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #1f1f1f;
    color: #ffffff;
}
.content #last{
    font-size: 15px;
}
.image{
    width: 100%;
    height: 90%;
    background-image: url("../../../assets/install.png");
    background-size: cover;
    background-position: left;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    /* border: 1px solid white; */
}